*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

.header {
  display: block;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem 0;
}

@media screeen and (min-width: 900px) {
  .header {
    margin: 0 1rem;
  }
}

.header__logo {
  display: block;
  font-size: clamp(2.5rem, calc(5vw + .5rem), 3rem);
  color: var(--clr-text);
  font-weight: 500;
  margin: 1rem 1.6rem 0 1.6rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .header__logo {
    margin: 0 1.6rem;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .header__logo {
    font-size: clamp(1.5rem, calc(5vw + .5rem), 2rem);
    margin: 0 3rem;
    padding: 0;
    text-align: left;
  }
}

@media screen and (min-width: 1100px) {
  .header__logo {
    margin: 0 4rem;
    padding: 0 1rem;
  }
}

.footer {
  display: block;
  margin: 0 2rem;
  padding: 0;
  color: var(--clr-text);
  text-align: center;
  line-height: 1.1;
}

.footer p {
  display: inline-block;
  font-size: clamp(0.6rem, calc(5vw + .1rem), 0.8rem);
  font-weight: 200;
}

@media screen and (min-width: 900px) {
  .footer p {
    text-align: left;
    display: inline;
    position: relative;
    left: 0rem;
  }
}

@media screen and (min-width: 1100px) {
  .footer p {
    margin: 0;
    padding: 0;
    position: relative;
    left: 3rem;
  }
}

.footer__social {
  display: block;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .footer__social {
    text-align: right;
    margin: 0;
    position: relative;
    bottom: 1rem;
    right: 7rem;
  }
}

@media screen and (min-width: 1100px) {
  .footer__social {
    position: relative;
    right: 10rem;
    margin: 0;
    padding: 0;
  }
}

.footer__social a {
  margin: .2rem;
  text-decoration: none;
  color: var(--clr-text);
  font-size: clamp(0.6rem, calc(5vw + .1rem), 0.9rem);
}

.footer__social a:visited {
  color: var(--clr-text);
}

@media screen and (min-width: 900px) {
  .footer {
    display: block;
    width: 100%;
    margin: 1rem 4rem;
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  .main {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 900px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: var(--clr-main);
    margin: 0 3rem;
    padding: 0;
    border-radius: 2rem;
  }
}

@media screen and (min-width: 1100px) {
  .main {
    margin: 0 5rem;
    padding: 0;
  }
}

.container {
  display: block;
  background-color: var(--clr-container);
  border-radius: 1.6rem;
  margin: 1rem 1.6rem 2rem 1.6rem;
  padding: 2rem;
  position: relative;
  min-width: 300px;
}

@media screen and (min-width: 600px) {
  .container {
    margin: 2rem 3rem;
    padding: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: inline-block;
    min-width: 325px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    display: inline-block;
    min-width: 325px;
    margin: 0 2rem;
    padding: 0;
  }
}

.container__card {
  display: block;
  font-size: clamp(3rem, calc(5vw + .5rem), 5rem);
  font-weight: 600;
  color: var(--clr-h2);
  line-height: 1.3;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
  top: -1rem;
}

@media screen and (min-width: 450px) {
  .container__card {
    font-size: clamp(3.5rem, calc(5vw + .5rem), 6rem);
    margin: 2rem;
    padding: 0 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .container__card {
    font-size: clamp(1rem, calc(5vw + .5rem), 2.5rem);
    margin: 0 4rem;
    position: relative;
    top: -1rem;
    padding: 0;
    line-height: 1.1;
    text-align: left;
  }
}

@media screen and (min-width: 1100px) {
  .container__card {
    margin: 0 4rem;
    position: relative;
    top: -1rem;
    padding: 0;
    line-height: 1.1;
  }
}

.container__details {
  color: var(--clr-text);
  display: block;
  font-size: clamp(1rem, calc(5vw + .2rem), 1.2rem);
  font-weight: 200;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 450px) {
  .container__details {
    font-size: clamp(0.8rem, calc(5vw + .1rem), 1rem);
    margin: 2rem;
    padding: 0 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .container__details {
    font-size: clamp(0.8rem, calc(5vw + .1rem), 1rem);
    margin: 1rem 4rem;
    padding: 1rem 0 3rem 0;
    line-height: 1.1;
    text-align: left;
  }
}

@media screen and (min-width: 1100px) {
  .container__details {
    margin: 1rem 4rem;
    padding: 1rem 0 3rem 0;
  }
}

.container__wrapper {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 0;
}

.container__wrapper img {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  padding: 0;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .container__wrapper img {
    width: 225px;
    height: 225px;
  }
}

@media screen and (min-width: 900px) {
  .container__wrapper img {
    width: 175px;
    height: 175px;
  }
}

.container__title {
  display: block;
  font-size: clamp(0.8rem, calc(5vw + .2rem), 2.4rem);
  font-weight: 500;
  color: var(--clr-title);
  text-align: center;
  margin: 1rem 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .container__title {
    font-size: clamp(0.8rem, calc(5vw + .2rem), 1.6rem);
    margin: 1rem 2rem 0rem 2rem;
    padding: 0;
  }
}

@media screen and (min-width: 900px) {
  .container__title {
    font-size: clamp(0.8rem, calc(5vw + .2rem), 1.6rem);
    margin: 2.5rem 3rem 0 3rem;
  }
}

@media screen and (min-width: 1100px) {
  .container__title {
    margin: 2.5rem 3rem 0 3rem;
    padding: 0;
  }
}

.container__description {
  display: block;
  font-size: 1rem;
  font-weight: 200;
  color: var(--clr-text);
  margin: 0;
  padding: 0 1rem;
  text-align: justify;
}

@media screen and (min-width: 600px) {
  .container__description {
    font-size: clamp(0.8rem, calc(5vw + .1rem), 1.2rem);
    margin: 1rem 2rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .container__description {
    font-size: clamp(0.8rem, calc(5vw + .1rem), 1.3rem);
    margin: 0 4rem;
    padding: 1rem 0;
  }
}

.container__description a {
  font-weight: 500;
  text-decoration: none;
  color: var(--clr-title);
}

.container__description a:hover {
  font-size: 105%;
  text-decoration: underline;
}

.container__description a:active {
  color: #F8F9FA;
}

.container__description a:visited {
  color: var(--clr-title);
}

.container__button {
  font-size: 1.1rem;
  display: block;
  background-color: var(--clr-bg-button);
  color: var(--clr-text-button);
  margin: 2rem 1rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5rem;
}

.container__button:hover {
  font-size: 115%;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .container__button {
    margin: 1rem 3rem;
    padding: 1.2rem;
  }
}

@media screen and (min-width: 900px) {
  .container__button {
    margin: 3rem 4rem;
  }
}

.dark-mode {
  --clr-bg: #212529;
  --clr-container: #343A40;
  --clr-text: #f8f9fa;
  --clr-h2: #ADB5BD;
  --clr-bg-button: #DEE2E6;
  --clr-text-button: #343A40;
  --clr-title: #DEE2E6;
  --clr-main: #343A40;
}

.light-mode {
  --clr-bg: #F8F9FA;
  --clr-container: #DEE2E6;
  --clr-text: #212529;
  --clr-h2: #6C757D;
  --clr-bg-button: #343A40;
  --clr-text-button: #F8F9FA;
  --clr-title: #343A40;
  --clr-main: #DEE2E6;
}
/*# sourceMappingURL=main.css.map */