*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.header {
    display: block;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 0;

    @media screeen and (min-width: 900px) {
        margin: 0 1rem;
    }

    &__logo {
        display: block;
        font-size: clamp(2.5rem, calc(5vw + .5rem), 3rem);
        color: var(--clr-text);
        font-weight: 500;
        margin: 1rem 1.6rem 0 1.6rem;
        text-align: center;

        @media screen and (min-width: 600px) {
            margin: 0 1.6rem;
            text-align: center;
        }

        @media screen and (min-width: 900px) {
            font-size: clamp(1.5rem, calc(5vw + .5rem), 2rem);
            margin: 0 3rem;
            padding: 0;
            text-align: left;
        }

        @media screen and (min-width: 1100px) {
            margin: 0 4rem;
            padding: 0 1rem;
        }
    }
}

.footer {
    display: block;
    margin: 0 2rem;
    padding: 0;
    color: var(--clr-text);
    text-align: center;
    line-height: 1.1;

    p {
        display: inline-block;
        font-size: clamp(.6rem, calc(5vw + .2rem), 1rem);
        font-weight: 200;

        @media screen and (min-width: 900px) {
            text-align: left;
            display: inline;
            position: relative;
            left: 0rem;
        }

        @media screen and (min-width: 1100px) {
            margin: 0;
            padding: 0;
            position: relative;
            left: 3rem;
        }
    }

    &__social {
        display: block;
        margin-bottom: 2rem;
        padding: 0 1.5rem;
        text-align: center;

        @media screen and (min-width: 900px) {
            text-align: right;
            margin: 0;
            position: relative;
            bottom: 1rem;
            right: 7rem;
        }

        @media screen and (min-width: 1100px) {
            position: relative;
            right: 10rem;
            margin: 0;
            padding: 0;
        }

        a {
            margin: .2rem;
            text-decoration: none;
            color: var(--clr-text);

            &:visited {
                color: var(--clr-text);
            }
        }
    }

    @media screen and (min-width: 900px) {
        display: block;
        width: 100%;
        margin: 1rem 4rem;
        text-align: left;
    }
}
.main {
    
    @media screen and (min-width: 600px) {
        margin: 0;
        padding: 0;
    }

    @media screen and (min-width: 900px) {
        display: flex;
        flex-wrap: nowrap;
        background-color: var(--clr-main);
        margin: 0 3rem;
        padding: 0;
        border-radius: 2rem;
    }

    @media screen and (min-width: 1100px) {
        margin: 0 5rem;
        padding: 0;
    }

}
.container {
    display: block;
    background-color: var(--clr-container);
    border-radius: 1.6rem;
    margin: 1rem 1.6rem 2rem 1.6rem;
    padding: 2rem;
    position: relative;
    min-width: 300px;

    @media screen and (min-width: 600px) {
        margin: 2rem 3rem;
        padding: 2rem;
    }

    @media screen and (min-width: 900px) {
        display: inline-block;
        min-width: 325px;
        margin: 0;
        padding: 0;
    }

    @media screen and (min-width: 1100px) {
        display: inline-block;
        min-width: 325px;
        margin: 0 2rem;
        padding: 0;
    }

    &__card {
        display: block;
        font-size: clamp(3rem, calc(5vw + .5rem), 5rem);
        font-weight: 600;
        color: var(--clr-h2);
        line-height: 1.3;
        padding: 1rem;
        margin: 1rem 0;
        position: relative;
        top: -1rem;

        @media screen and (min-width: 450px) {
            font-size: clamp(3.5rem, calc(5vw + .5rem), 6rem);
            margin: 2rem;
            padding: 0 1rem;
            text-align: center;
        }

        @media screen and (min-width: 900px) {
            font-size: clamp(1rem, calc(5vw + .5rem), 2.5rem);
            margin: 0 4rem;
            position: relative;
            top: -1rem;
            padding: 0;
            line-height: 1.1;
            text-align: left;
        }

        @media screen and (min-width: 1100px) {
            margin: 0 4rem;
            position: relative;
            top: -1rem;
            padding: 0;
            line-height: 1.1;
        }
    }
    &__details {
        color: var(--clr-text);
        display: block;
        font-size: clamp(1rem, calc(5vw + .2rem), 1.4rem);
        font-weight: 200;
        padding: 1rem;
        margin: 0 0 1rem 0;

        @media screen and (min-width: 450px) {
            font-size: clamp(.8rem, calc(5vw + .1rem), 1rem);
            margin: 3rem 2rem;
            padding: 1rem;
            text-align: center;
        }
        @media screen and (min-width: 900px) {
            font-size: clamp(.8rem, calc(5vw + .1rem), 1rem);
            margin: 1rem 4rem;
            padding: 1rem 0 3rem 0;
            line-height: 1.1;
            text-align: left;
        }

        @media screen and (min-width: 1100px) {
            margin: 1rem 4rem;
            padding: 1rem 0 3rem 0;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;
        height: 250px;
        padding: 0;
        
        img {
                width: 175px;
                height: 175px;
                border-radius: 100%;
                margin: 0;
                padding: 0;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                @media screen and (min-width: 600px) {
                    width: 225px;
                    height: 225px;
                }

                @media screen and (min-width: 900px) {
                    width: 175px;
                    height: 175px;
                }
                
        }

    }

    &__title {
        display: block;
        font-size: clamp(.8rem, calc(5vw + .2rem), 2.4rem);
        font-weight: 500;
        color: var(--clr-title);
        text-align: center;
        margin: 1rem 0;
        padding: 0;

        @media screen and (min-width: 600px) {
            font-size: clamp(.8rem, calc(5vw + .2rem), 1.6rem);
            margin: 1rem 2rem 0rem 2rem;
            padding: 0;
        }
        @media screen and (min-width: 900px) {
            font-size: clamp(.8rem, calc(5vw + .2rem), 1.6rem);
            margin: 2.5rem 3rem 0 3rem;
        }

        @media screen and (min-width: 1100px) {
            margin: 2.5rem 3rem 0 3rem;
            padding: 0;
        }
    }

    &__description {
        display: block;
        font-size: 1rem;
        font-weight: 200;
        color: var(--clr-text);
        margin: 0;
        padding: 0 1rem;
        text-align: justify;
        
        @media screen and (min-width: 600px) {
            font-size: clamp(.8rem, calc(5vw + .1rem), 1.2rem);
            margin: 1rem 2rem;
            padding: 1rem;
        }
        @media screen and (min-width: 900px) {
            font-size: clamp(.8rem, calc(5vw + .1rem), 1.3rem);
            margin: 0 4rem;
            padding: 1rem 0;
        }


        a { 
            font-weight: 500;
            text-decoration: none;
            color: var(--clr-title);

            &:hover {
                font-size: 105%;
                text-decoration: underline;
            }
            &:active {
                color: #F8F9FA;
            }
            &:visited {
                color: var(--clr-title);
            }


        }
    }

    &__button {
        font-size: 1.1rem;
        display: block;
        background-color: var(--clr-bg-button, black);
        color: var(--clr-text-button);
        margin: 1rem;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        border-radius: 5rem;

        &:hover {
            font-size: 115%;
            text-decoration: underline;
        }

        @media screen and (min-width: 600px) {
            margin: 1rem 3rem;
            padding: 1.2rem;
        }

        @media screen and (min-width: 900px) {
            margin: 3rem 4rem;
        }

    }
}

.dark-mode {
    --clr-bg: #212529;
    --clr-container: #343A40;
    --clr-text: #f8f9fa;
    --clr-h2: #ADB5BD;
    --clr-bg-button: #DEE2E6;
    --clr-text-button: #343A40;
    --clr-title: #DEE2E6;
    --clr-main: #343A40;
}

.light-mode {
    --clr-bg: #F8F9FA;
    --clr-container: #DEE2E6;
    --clr-text: #212529;
    --clr-h2: #6C757D;
    --clr-bg-button: #343A40;
    --clr-text-button: #DEE2E6;
    --clr-title: #343A40;
    --clr-main: #DEE2E6;
}
